# vim: syntax=toml

# ~/.local/share/chezmoi/.chezmoi.toml.tmpl
# =============================================================================
# Used to customize configuration when doing a `chezmoi init`.
#
# This template file will trigger prompts to fill-in machine-specific
# templateable values. The resulting file is then created at
# `~/.config/chezmoi/chezmoi.toml`
# See https://www.chezmoi.io/docs/how-to/
#
# {{- /* This file supports Go's text/template language. */}}

# umask
umask = 0o022
progress = true

{{ $computer := promptStringOnce . "computer" "computer type (work/self)" }}

encryption = "gpg"
[gpg]
args = ["--quiet"]
recipient = "93AFDAD010B3CB8D"


[hooks.read-source-state.pre]
    command = ".local/share/chezmoi/.install-password-manager.sh"

[git]
autoCommit = false

[diff]
command = "delta"
exclude = ["scripts"]

[merge]
command = "nvim"
args = ["-d", "{{ "{{" }} .Destination }}", "{{ "{{" }} .Source }}"]

[data]
computer = {{ $computer | quote }}

# [data.git]
# {{- if eq $computer "work" }}
# public_key = "{{ (bitwardenFields "item" "6313267a-68ff-4a36-aef0-b28d00f4968a") }}"
# {{- end }}
# {{- if eq $computer "self" }}
# public_key = "{{ (bitwardenFields "item" "6313267a-68ff-4a36-aef0-b28d00f4968a") }}"
# {{- end }}

[data.user]
name   = "Jacob L"

{{- if eq $computer "work" }}
  email  = "{{ (bitwarden "item" "6978dca2-d0c5-4324-b7fc-b28f0144b864").identity.email }}"
  gpg_id = "{{ (bitwardenFields "item" "6978dca2-d0c5-4324-b7fc-b28f0144b864").gpg_key_public.value }}"
{{- end }}

{{- if eq $computer "self" }}
  email  = "{{ (bitwarden "item" "6978dca2-d0c5-4324-b7fc-b28f0144b864").identity.email }}"
  gpg_id = "{{ (bitwardenFields "item" "6978dca2-d0c5-4324-b7fc-b28f0144b864").gpg_key_public.value }}"
{{- end }}
